<section id="data-binding">
  <article>
      <h3>Interpolation / Interpolação</h3>
      <p>String renderizada para interpolação : {{url}}</p>
  </article>
</section>
<section id="ngClass">
  <article>
    <div>
      <select #classe (change)="0">
        <option value="alert">Alert</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
        <option value="info">Info</option>
      </select>
      <alert type="info">hello</alert>
    </div>
  </article>
</section>